{% load staticfiles %}
{% load crispy_forms_tags %}

<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
        	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div> 

        <div class=row"">
	        <div class="col-xs-3 pull-right">
	        		<p class='lead'>Welcome<p>
	        		
	        		<form method='POST' action=''>{% csrf_token %}
	        		{{ form|crispy }}
	        		<input class='btn btn-primary' type='submit' value='Sign up' />
	        			
	        		</form>
	        </div>
        </div>
       
	       <!-- <ul class="nav navbar-nav navbar-right">
	        {% if request.user.is_authenticated %}
	        	<li><a href="">Logout</a></li>
	        {% else %}
	        	<li><a href="">Login</a></li>
	        	<li><a href="">Register</a></li>
	        {% endif %}
	        </ul> -->
	       

        <div class="content container">
		    <div class="row">
		        <div class="col-md-8">
		            {% block content %}
		            {% endblock %}
		        </div>
		    </div>
		</div>
    </body>
</html>